.login-btn,
.logout-btn {
  color: var(--main-text-color);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  /* margin-top: -6px; */

  font-weight: 600;
  font-size: 1.5rem;

  border: 3px solid var(--main-color);
  border-radius: 25px;
  padding: 0.2rem 2.5rem;

  transition: 0.3s;
}

.login-btn:hover,
.logout-btn:hover {
  color: var(--main-text-color-sub1);
  background-color: var(--main-color-sub1);
}

.login-btn svg,
.logout-btn svg {
  color: #7f004f;
  font-size: 1.3rem;
  background-color: rgba(228, 224, 224, 0.157);
}

.navbar-nav {
  margin-left: 180px;
  color: rgb(0, 0, 0);

  ;
}
.navbar-nav :first-child {
  margin-left: 0;
}
.nav-link {
  margin-left: 60px;
  font-size: 15px;
  
}
.nav-link a {
  text-decoration: none;
  color: black;

  font-size: 1.2rem;
  font-weight: 500;
}

.headerContainer {
  margin-left: 10%;
  margin-right: 10%;
}


.navbar-nav > a > a {
  position: relative;
}
.navbar-nav > a > a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 3pt;
  left: 50%;
  position: absolute;
  background: var(--main-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  
}
.navbar-nav > a:hover > a:after { 
  width: 100%; 
  left: 0; 
}

/* #activePage:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2.3pt;
  left: 50%;
  position: absolute;
  background: var(--mainColor);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%; 
  left: 0; 
  border-radius: 50px;
} */