.form {
  padding: 0.5rem 1rem;
  /* border-radius: 100px; */
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  background-color: var(--main-color);
  color: var(--main-text-color-sub1);

  white-space: nowrap;
}
.formm {
    border: var(--main-color) 2px solid !important;

    border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
}
.formm:focus, .formm:active {
    box-shadow: none !important;
    border: var(--main-color) 2px solid !important;
}
.FilterFormContainer {
  display: flex;
  margin-top: 3rem;
  /* gap: 2rem; */
}
.productPage {
  margin-left: 10%;
  margin-right: 10%;
}
.form-control {
  /* width: 80% !important; */
  padding: 0.5rem 0.75rem !important;
}
.form-label {
  margin-bottom: 0 !important;
}
