.homeMainBody {
  margin-left: 10%;
  margin-right: 10%;
}

.slide-show {
  padding-left: 0;
  padding-right: 0;
  box-shadow: rgba(0, 0, 0, 0.308) 0 2px 5px;
}
.slide-show img {
  object-fit: cover;
}
.carousel-caption {
  left: unset;
  right: 10%;
  bottom: unset;
  top: 50%;
  transform: translate(0%, -50%);

  width: 30rem;
  font-size: 35px;
}
.carousel-caption h1 {
  font-size: 3rem;
}
.carousel-indicators [data-bs-target] {
  height: 7px;
  width: 30px;
  border-radius: 50px;

  border-top: 0;
  border-bottom: 0;

  margin-left: 7px;
  margin-right: 7px;
}

.carousel-control-next-icon {
  position: relative;
  left: 3rem;

  width: 0;
}
.carousel-control-prev-icon {
  position: relative;
  right: 3rem;

  width: 0;
}

.homeAboutUs {
  display: flex;
  gap: 3rem;
  margin-bottom: 7rem;
  background-color: rgba(171, 82, 231, 0.28);
  padding: 20px;
}
.homeAboutUs > img {
  max-width: 60%;
}
.homeAboutUsText {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 2.2;
}
.homeAboutUsText > h2 {
  margin-bottom: 2rem;
}
.aboutUsButton > span {
  position: relative;
  left: 0;
  color: rgb(102, 0, 170) !important;
  transition: var(--transition1);
}
.aboutUsButton:hover > span {
  left: 1rem;
}
.playIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ourPros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 6rem;
}
.ourPros > div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}
.ourPros img {
  width: 12rem;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  /* filter: saturate(150%); */
  /* object-fit: cover; */
}
.ourPros p {
  width: 15rem;

  overflow: auto;
}
.noAnimalsContainer {
  width: 100%;
  height: 42px;
  overflow: hidden;

  margin-bottom: 2rem;
}
.ourProsTextContainer{
  width: 100%;
  height: 150px;
  overflow: hidden;

  margin-bottom: 2rem;
}

.ourProsImgContainer{
  width: 100%;
  height: 150px;
  overflow: hidden;

  margin-bottom: 2rem;
}

.grassThing {
/* border-radius: 25px; */

  overflow: hidden;
  height: 34rem;
  width: 100%;

  position: relative;
  margin-bottom: 6rem;

  box-shadow: 0px 15px 0 var(--main-color-sub1);
  border-radius: 35px;
  border: 4px solid var(--main-color);
}
.grassThing img {
  transform: sca;
}
.grassThingOverlay1 {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.8;
  background-color: var(--main-color);


  height: 100%;
  width: 100%;
}
.grassThingOverlay2 {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 1;
  backdrop-filter: blur(5px);


  height: 100%;
  width: 100%;
}
.rabbitPng{ 
  position: absolute;

  opacity: 0.8;
  bottom: -20%;
  left: 50%;

  transform: translate(-50%,0%) scale(0.8);
}
.grassThingH2Container{
  height: 80px;
  overflow: hidden;

  position:absolute;

  text-align: center;

  display: block;
  transform: translate(-50%,0%);

  color: var(--main-text-color-sub1);
  opacity: 0.80;
  /* margin-bottom: 2rem; */
}
.grassThingH2Container h2 {
  font-weight: 700;
  font-size: 42px;
}
/* .grassThingH2Container h2, .grassThingH2Container h6 {
  transform: translate(-50%,0%);
} */
.grassThingH2Container1 {
  left: 10%;
  top: 70%;
}
.grassThingH2Container2 {
  left: 20%;
  top: 40%;
}
.grassThingH2Container3 {
  left: 43%;
  top: 25%;
  
  /* transform: translate(-50%,-50%); */
}
.grassThingH2Container4 {
  right: 20%;
  top: 40%;
}
.grassThingH2Container5 {
  right: 10%;
  top: 70%;
}
.grassThingH2Container6{
  left: 23%;
  top: 8%;

  
}
.grassThingH2Container6 h2 {
  font-size: 26px;
}.grassThingH2Container6 h6 {
  font-size: 16px;
}