body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footerCSS{
  width: 100%;
  position: relative;
  bottom: 0%;
}
.footerCSS ul{
  list-style:none;
  display: inline-flex;

}
.footerCSS ul li {
  color: blanchedalmond;
  margin: 15px;
}

.aboutus ul {
  list-style:none;

}
.aboutus ul li{
  display: inline-flex;
  margin-left: 20px;
}
.firstSec{
  display: inline-flex ;
  margin-left: 50px;

}
.firstSec div{
  margin: 30px;

}
.secSection{
  display: inline-flex ;
  margin-left: 50px;

}
.secSection div{
  margin: 30px;

}